main {
	padding: 2rem 1rem;
	max-width: 30rem;
	margin: 0 auto;
}

h1 {
	font-size: 2rem;
}

.button-row {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 1rem;
}

.select {
	margin-left: 1rem;
}

.favorites-button {
	margin-bottom: 1rem;
}

.sort-label {
	display: inline-block;
	margin-left: 0.25rem;
}